.card{
    display: flex;
    justify-content: space-evenly;
    margin: 2rem auto;
    figure{
        img{
            width: 20rem;
            border-radius: 1rem;
            max-width: 100%;
        }
    }
    .info{
        width: 40%;
        h3{
            font-size: 2rem;
            margin: 1rem auto;
        }
        span{
            font-size: 1.5rem;
        }
    }
    .ingre{
        span{
            font-size: 1.5rem;
        }
        ol{
            padding: 2rem 0;
            list-style: none;
            li{
                margin: .5  rem 0;
            }
        }

    }
}